<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth Activity By Laimee Antonette R. Pisao</title>
</head>
<style>
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f8e1f4;
    }
    .top {
        overflow: hidden;
        background-color: #efa8e4;
    }
    .top a {
        float: left;
        display: block;
        color: #97e5ef;
        text-align: center;
        padding: 16px 18px;
        text-decoration: none;
    }
    .top a:hover {
        background-color: #fff0f5;
        color: #97e5ef;
    }
    .content {
        background-color: whitesmoke;
        width: 1490px;
        border: 15px salmon;
        padding: 20px;
        margin: 20px;
    }
    .text {
        text-align: center;
        font-style: italic;
    }
</style>
<body>
    <div class="top">
        <a href="/">Homepage</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/logout">Logout</a>
    </div>
    <div class="content">
        <div class="text">
        <h1>OAUTH ACTIVITY FOR FINALS</h1>
        </div>
    </div>
</body>
</html>