
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<style>
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f8e1f4;
    }
    .top {
        overflow: hidden;
        background-color: #efa8e4;
    }
    .top a {
        float: left;
        display: block;
        color: #97e5ef;
        text-align: center;
        padding: 16px 18px;
        text-decoration: none;
    }
    .top a:hover {
        background-color: #fff0f5;
        color: #97e5ef;
    }
</style>
<body>
    <div class="top">
    <a href="/auth/logout">Logout</a>
    <a href="/auth/login">Login</a>
    <a href="/">Homepage</a>
    </div>

    <a href="/auth/google">Login using Google+</a>
    <a href="/auth/facebook">Login using Facebook</a>
    <a>Login using Twitter</a>
</body>
</html>
